<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appjam2014"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.appjam2014.TitleActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.appjam2014.EndActivity"
            android:label="@string/title_activity_end" >
        </activity>
        <activity
            android:name="com.example.appjam2014.GridActivity"
            android:label="@string/title_activity_grid" >
        </activity>
        <activity
            android:name="com.example.appjam2014.WantActivity"
            android:label="@string/title_activity_want" >
        </activity>
        <activity
            android:name="com.example.appjam2014.StatementActivity"
            android:label="@string/title_activity_statement" >
        </activity>
        <activity
            android:name="com.example.appjam2014.EmergencyActivity"
            android:label="@string/title_activity_emergency" >
        </activity>
        <activity
            android:name="com.example.appjam2014.QuestionActivity"
            android:label="@string/title_activity_question" >
        </activity>
    </application>

</manifest>